/*
Creator:Emma Koenig
Date created: 10/17/18
Date last modified: 10/25/18
*/


body {
	font-family: Arial, sans-serif;
	color:#0d1f2d;
}

header,footer {
	font-family:Mali, cursive;
	background-color: #612092;
	color: #fef9ff;
	height: 100px;
}






